name: CI Pipeline
 
on:
  push:
    branches: [ "main" ]
 
jobs:
  build:
    runs-on: ubuntu-latest
 
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
 
    - name: Login to Docker Hub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
 
    - name: Build Docker image
      run: docker build -t ${{ secrets.DOCKER_USERNAME }}/secure-app:1.0 .
 
    - name: Push image to Docker Hub
      run: docker push ${{ secrets.DOCKER_USERNAME }}/secure-app:1.0
